* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: century-gothic, sans-serif;
    color: #5f5d5a;
    font-size: 5px;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 950px;
}

.header {
    border-bottom: solid 1px rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header ul li:hover {
    cursor: pointer;
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
    flex-grow: 4;
}

.vetical-menu {
    position: absolute;
    top: 80px;
    right: 15px;
    background-color: rgba(128, 128, 128);
    border-radius: 5px;
    border: solid 1px rgb(175, 175, 175);
}

.vetical-menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 25px;
    color: rgb(75, 75, 75);
    width: 100%;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

.vetical-menu ul li:hover {
    color: #fff;
    cursor: pointer;
}

.menu .phone-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    height: 100%;
    align-items: flex-end;
}

.menu .phone {
    justify-content: center;
}

.menu .phone span {
    font-size: 14px;
    margin: 0 4px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    font-size: 15px;
    justify-content: space-between;
    width: 100%;
}

.menu li {
    align-items: flex-end;
}

.menu-toggle {
    float: right;
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #ff5600;
    color: #e5e5e5;
    border: none;
    cursor: pointer;
}

.logo {
    display: inline-block;
    width: 200px;
    padding: 5px;
    flex-grow: 2;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    width: 100%;
}

.footer {
    border-top: solid 1px rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
}

.footer img {
    height: 140px;
    width: 149px;
    margin-right: 25px;
    object-fit: cover;
}

.empresa-group {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 4;
}

.empresa {
    font-size: 20px;
}

.empresa-content {
    font-size: 13px;
    margin-right: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.social-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-icons {
    font-size: 20px;
    display: flex;
    align-content: flex-start;
}

.social-icons img {
    width: 23.4px;
    height: 23.4px;
    display: flex;
    margin-right: 0;
}

.social-icons span {
    font-size: 18px;
    margin-left: 10px;
}

.social-media-item {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    height: 240px;
    margin: 25px 0px 25px;
    justify-content: space-between;
}

.card img {
    max-width: 100%;
    width: 167px;
    height: 149px;
    object-fit: cover;
    margin: 0px;
    border-radius: 5px;
}

.card span {
    font-size: 14px;
    font-weight: 900;
    word-break: normal;
}

.card hr,
.modal-body hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: rgb(196, 196, 196);
    height: 1px;
}

.tweet {
    font-size: 8px;
    font-weight: 900;
    padding: 2px;
}

.like {
    font-size: 11px;
    font-weight: bold;
    padding: 2px;
    background-color: rgb(223, 235, 236);
    color: rgb(103, 142, 189);
    border: solid 1px rgb(103, 142, 189);
    border-radius: 1px;
}

.like:hover {
    background-color: rgb(100, 200, 250);
}

.box {
    height: 20px;
    width: 23px;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    line-height: 20px;
    padding-left: 3px;
    margin-left: 3px;
    background: url("../../assets/img/icons/box.png") no-repeat center;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.rights {
    padding: 10px;
    margin-top: 30px;
}

.rights-content {
    justify-content: space-between;
    display: flex;
}

.rights-content span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-right: 5px
}

@media(min-width: 679px) {
    .menu-toggle {
        display: none;
    }
}

@media(max-width: 680px) {
    .menu {
        display: none;
    }
    .menu.menu-collapsed {
        display: flex;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .empresa-group {
        padding: 20px 40px;
    }
    .empresa {
        margin-bottom: 15px;
    }
    .social-icons span {
        font-size: 16px;
    }
    .empresa-content {
        margin-right: 0;
    }
    .rights {
        flex-direction: column;
    }
    .bar {
        width: 100%;
    }
    .rights-content {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-title {
    font-size: 24px;
    text-align: center;
}

.modal-description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

.modal-photo {
    height: 100%;
}

#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}